#

## CocoaPods
Pods/*

## App Code
.idea/*

## Settings
*.xcuserdata
NXMiOSSDK.xcworkspace/xcshareddata/*
NXMiOSSDK.xcworkspace/xcuserdata/*
NXMiOSSDK.xcodeproj/xcuserdata
xcschememanagement.plist

## Other
.DS_Store

## Nexmo
**/Tokens.h
**/NXMTokens.h
Frameworks
Output
UserInterfaceState.xcuserstate
