#

## CocoaPods
Pods/*

## App Code
.idea/*

## Settings
*.xcuserdata
NXMiOSSDK.xcworkspace/xcshareddata/*
NXMiOSSDK.xcworkspace/xcuserdata/*
NXMiOSSDK.xcodeproj/xcuserdata
xcschememanagement.plist

## Other
.DS_Store

## Nexmo
**/Tokens.h
**/NXMTokens.h
Frameworks
Output
NexmoClient_Debug.podspec
NexmoClient_Release.podspec
NXMiOSSDK.xcodeproj/project.xcworkspace/xcuserdata
build
UserInterfaceState.xcuserstate
