//
//  Tokens.h
//  iOSFramework
//
//  Created by user on 23/05/2018.
//  Copyright © 2018 Vonage. All rights reserved.
//

#ifndef Tokens_h
#define Tokens_h

static const NSString* testUser1MemberId = @"USR-727537eb-c68a-42f3-96a8-8a0947dd1da2";
static const NSString* testUser2MemberId = @"USR-1628dc75-fa09-4746-9e29-681430cb6419";
static const NSString* testUser3MemberId = @"USR-0e364e72-d343-42bd-9a12-024518a88896";
static const NSString* testUser4MemberId = @"USR-effc7845-333c-4779-aeaf-fdbb4167f93c";
static const NSString* testUser5MemberId = @"USR-b0ffcfd1-332b-4074-9aeb-63c0c2fed205";
static const NSString* testUser6MemberId = @"USR-de6954dc-9a54-4a65-8cf4-8628d312a611";
static const NSString* testUser7MemberId = @"USR-aecadd2c-8af1-44aa-8856-31c67d3f6e2b";
static const NSString* testUser8MemberId = @"USR-a7862767-e77a-4c0d-9bea-41754f1918c0";

static const NSString* testUser8Token = @"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJJbHR1cyIsImlhdCI6MTUzNDkzNjI1MCwibmJmIjoxNTM0OTM2MjUwLCJleHAiOjE1MzQ5NjYyODAsImp0aSI6MTUzNDkzNjI4MDQ2MCwiYXBwbGljYXRpb25faWQiOiJmMWE1ZjZmYS03ZDc0LTRiOTctYmRmNC00ZWNhYWU4ZTg1MWUiLCJhY2wiOnsicGF0aHMiOnsiLyoqIjp7fX19LCJzdWIiOiJ0ZXN0dXNlcjgifQ.aD13lOxABcWvyFL72i2TwCJXgWCM0XUvTUWZLKTVWdVszMNrEpPolEGD5xiI_TQvh8fguJOFDFl6YdmJNBlsBDLSz624JR_8nBUd0PHeSdjLu4OMDPnfTNWFIG5TUwK9eD1pZrc7b4JroRPyzSyESss8TdiCl-96jbDMoD58UNb7yYxm2e2XjA7zvosrYE1dty06LkdnbVM7ymp0TYMy2QJvP8yZibJDrI_9HSOrGzRiCvBdG5PdeOulhwn3w-1uGWQG5K8wPU5h9VnqeRtu7W17lsygtzpjvfjTgDJFg0lMyRPsrbxqd9Q3twUuD2iaPuRN3n63_2xXhGJhB0Iqqw";
static const NSString* testUser7Token = @"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJJbHR1cyIsImlhdCI6MTUzNDkzNjI1MCwibmJmIjoxNTM0OTM2MjUwLCJleHAiOjE1MzQ5NjYyODAsImp0aSI6MTUzNDkzNjI4MDE2MywiYXBwbGljYXRpb25faWQiOiJmMWE1ZjZmYS03ZDc0LTRiOTctYmRmNC00ZWNhYWU4ZTg1MWUiLCJhY2wiOnsicGF0aHMiOnsiLyoqIjp7fX19LCJzdWIiOiJ0ZXN0dXNlcjcifQ.TMKqtDf5ELCCj_geXWw8NJrJF11QocXlwHW52YJZcX_XlwjzHg3zHQB76K6QyRZuNeDiAAX0VH3vt4cZjycLGzXz2veqKFZlhm2EWJnyYlrGgRLNVk8eoMpLUOc2PRnIq40kLmH4byrwGz-P-g2aNclkdL4UBtcHQgnho-7jqmKhgogQR4TVXtgABKcLyzPzd3I5y0PlbL11N0SyltaoYbkRGZAG6dGG_6e_tf0NmWEiq_cP08yt89992QEPDkeBWAKguVqLEBuv5Gpkcji238QYuhA5dcq9HItFn8BgwflTXUBx_5Tr1opED1O7TNA0lrHs-1Eur1xoHPlP1Esdmw";
static const NSString* testUser6Token = @"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJJbHR1cyIsImlhdCI6MTUzNDkzNjI0OSwibmJmIjoxNTM0OTM2MjQ5LCJleHAiOjE1MzQ5NjYyNzksImp0aSI6MTUzNDkzNjI3OTg1OSwiYXBwbGljYXRpb25faWQiOiJmMWE1ZjZmYS03ZDc0LTRiOTctYmRmNC00ZWNhYWU4ZTg1MWUiLCJhY2wiOnsicGF0aHMiOnsiLyoqIjp7fX19LCJzdWIiOiJ0ZXN0dXNlcjYifQ.Ucw66eTihXqEJ3bNzvqsW-ahb4VaPoi66puYkvolLqxmSrkaPNTvd_8vSxIL6cJxnMSv5fMrBupnyMQnfs9ZAHQJgnQCR8U-cW3lTeNI4urcmSLmZ5_0L_8-eglLy7vD2ZvkfgfHAU9M03XNsAFONoURbsAGZv0NXDKuLJrmgc-ZOjZAc2RnxUf4N5So-LgWWrsdbogrmpPdi95RIkpeuTDsWwRnsRsoWQanXkvPZXB-4JDYOkCaRCCrsh5pOsZfybuchxLL4hVp12sPtPeCky7rngnvKWa94oaMy-3dL7xRbX7q3-1IQoAuS3nVIqKbG2jQDN6izVS0TjtAMKKmSQ";
static const NSString* testUser5Token = @"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJJbHR1cyIsImlhdCI6MTUzNDkzNjI0OSwibmJmIjoxNTM0OTM2MjQ5LCJleHAiOjE1MzQ5NjYyNzksImp0aSI6MTUzNDkzNjI3OTU1NiwiYXBwbGljYXRpb25faWQiOiJmMWE1ZjZmYS03ZDc0LTRiOTctYmRmNC00ZWNhYWU4ZTg1MWUiLCJhY2wiOnsicGF0aHMiOnsiLyoqIjp7fX19LCJzdWIiOiJ0ZXN0dXNlcjUifQ.xO1Q0LFtrz5ZE7_vPmAJ5Lr9ejJIKc2DDhGN_Bp1ici0ewvWn8gpSLDkyE6aC_x4CwZTKGBsKtrxzao7X-MkTc4clk-ne9-5s12CETX9hPZIzZKY9UjW0UtzRJm0wKtbXCnuBJwuhGISNW6jdAhZy2zUk760N65K0zrlHYoKrZ37ZESHrUUUNk1W0rToxiQalwckeP0C9nO2BdYXVwvvKGFvNk5Itba7Ay5zw0bb2VAkS0BK8EKFy6OODG-RQ9hF-xerrIRWUHm4l2AeJGg_ISG1RLy1qG599hnXAUmD4z1z-cf1PvZFAGnsagp0AyH18MwzC_lBT0qXO_RwdS-ZqA";
static const NSString* testUser4Token = @"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJJbHR1cyIsImlhdCI6MTUzNDkzNjI0OSwibmJmIjoxNTM0OTM2MjQ5LCJleHAiOjE1MzQ5NjYyNzksImp0aSI6MTUzNDkzNjI3OTI1MywiYXBwbGljYXRpb25faWQiOiJmMWE1ZjZmYS03ZDc0LTRiOTctYmRmNC00ZWNhYWU4ZTg1MWUiLCJhY2wiOnsicGF0aHMiOnsiLyoqIjp7fX19LCJzdWIiOiJ0ZXN0dXNlcjQifQ.hxJFOjlE7l81OmbfTJtKUIXeCIaXFOumb6SVKJ7WeVG2B_bi2I1tbcP6Me0EBDv1J7JmkGYpoHiEqeb5kkqGpvdC064Er0_td9kk73L5JBZUU3o1ZHBdU8JJlhYIFtVx74svoA5LxGIlxfeypJqxfs636NCdxTCU9QRxFWnmz5nOZ27qsvLgOc-_-jDd0Tw8Vl4fGu8EU6DdV0Xfn4v4ED-Ng0Rk64-3qCIIJGMGb9jfVTeQFPZ-W6T0GYhg7LrQzqR2vjRtjFNac4oojIbkPM2qsw3Lc8AlZczpAzjwD47sH2qh7Cpq6xsF8o4tFcyzrXD2pCAhs2BpwPGXOlFc8w";
static const NSString* testUser3Token = @"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJJbHR1cyIsImlhdCI6MTUzNDkzNjI0OCwibmJmIjoxNTM0OTM2MjQ4LCJleHAiOjE1MzQ5NjYyNzgsImp0aSI6MTUzNDkzNjI3ODk2MiwiYXBwbGljYXRpb25faWQiOiJmMWE1ZjZmYS03ZDc0LTRiOTctYmRmNC00ZWNhYWU4ZTg1MWUiLCJhY2wiOnsicGF0aHMiOnsiLyoqIjp7fX19LCJzdWIiOiJ0ZXN0dXNlcjMifQ.fMuZCQu8LfrIKgk9ceW1tm_1TN0rfepc2zUFjVX61_XTU0Ku72ayz5WIygXLSsjqA58KXzOjpL3dLhnJ7A2ZAK65cgrEynHNvirP0EP9qg0NYp6PnqFkF51B_MAvuTCi_ZMY-u97ju1C9xDXXCOZW_XvXS1Z__baFCkMGleEvZgLC7vKkwVDdHBpiZjvWCaKNhAzOenMnHxcHguoxgciXK4CxDkH0Oi3VQp4_ar3EbYNWfex7uYN4RPUQ2jEUBxX7yLgw_VT_7eoBKM3auVCooCxEXTXz-FF2xJUvn4y07m01sNM2VdZU3JNLFbT66CMsWq7QbV7XLfGFxmZMS0X6A";
static const NSString* testUser2Token = @"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJJbHR1cyIsImlhdCI6MTUzNDkzNjI0OCwibmJmIjoxNTM0OTM2MjQ4LCJleHAiOjE1MzQ5NjYyNzgsImp0aSI6MTUzNDkzNjI3ODY1NywiYXBwbGljYXRpb25faWQiOiJmMWE1ZjZmYS03ZDc0LTRiOTctYmRmNC00ZWNhYWU4ZTg1MWUiLCJhY2wiOnsicGF0aHMiOnsiLyoqIjp7fX19LCJzdWIiOiJ0ZXN0dXNlcjIifQ.jivkGuGnHucLOpE9KDCl8s1l1D3DHvXgxeAjr12K0a3wI4TWwJlcwoIszpfE-V3HWaMHtcQEgZIFe0Y-ZSc5NM2NBt4lsr0ueKxWgPp8X0pSQ_hzlnAfPq-r1i9qTgOuVLFJF8H8fgeKb1tlX5TdhAu4aUZse5xvkF2-Suak5x6ubGEkSLRs8MIH_fPcKvRE2KcKkblRGDfrOywM94lP4rC42DuvgOj3gMegIPvCrU5FaLV_1-rBGwyuHAcKJfOg9x0rXID6IUMUE-GG6GEif62iCzOah_DjUErj-Pe5TKnWhaM-LUaA3ucotCRT-EkfDo9cEN4UJRi-lk6jBofbqA";
static const NSString* testUser1Token = @"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJJbHR1cyIsImlhdCI6MTUzNDkzNjI0OCwibmJmIjoxNTM0OTM2MjQ4LCJleHAiOjE1MzQ5NjYyNzgsImp0aSI6MTUzNDkzNjI3ODM2MSwiYXBwbGljYXRpb25faWQiOiJmMWE1ZjZmYS03ZDc0LTRiOTctYmRmNC00ZWNhYWU4ZTg1MWUiLCJhY2wiOnsicGF0aHMiOnsiLyoqIjp7fX19LCJzdWIiOiJ0ZXN0dXNlcjEifQ.nBu46bjjqNoGOYNHPCMg9BEnMzY_4ub3vUvcf4rPJiDIsikgGKuixBsiwvoIcnJ9cO2PGRHchwY0ztdRS9wANYsQe3NcbdoEA4OnTbr_odlr_aaCrP_v_l0IdT81-XUjOVXOGvMhcgR7C5yfKNhIPX404HBpYlMLkI-nftdlMn3e7-7wMnqfH8B4LMkUPUR_eN2SMaAt0RZnPFagsIU5UQhRJYp7Da7SwFXByXtFeD3G_CNmWItAupDy6n0RKl_J5FHcuvQ3V2qQC9Qjk8tm9vxICSMgiKtyaItWsPFXs5Ei5arNQ1IUAsxpaF4Cff9Sfe33dicofkpKe8xCYYvIVw";

#endif /* Tokens_h */

