//
//  Tokens.h
//  iOSFramework
//
//  Created by user on 23/05/2018.
//  Copyright © 2018 Vonage. All rights reserved.
//

#ifndef Tokens_h
#define Tokens_h

static NSString * const testuser1UserId = @"USR-727537eb-c68a-42f3-96a8-8a0947dd1da2";
static NSString * const testuser2UserId = @"USR-1628dc75-fa09-4746-9e29-681430cb6419";
static NSString * const testuser3UserId = @"USR-0e364e72-d343-42bd-9a12-024518a88896";
static NSString * const testuser4UserId = @"USR-effc7845-333c-4779-aeaf-fdbb4167f93c";
static NSString * const testuser5UserId = @"USR-b0ffcfd1-332b-4074-9aeb-63c0c2fed205";
static NSString * const testuser6UserId = @"USR-de6954dc-9a54-4a65-8cf4-8628d312a611";
static NSString * const testuser7UserId = @"USR-aecadd2c-8af1-44aa-8856-31c67d3f6e2b";
static NSString * const testuser8UserId = @"USR-a7862767-e77a-4c0d-9bea-41754f1918c0";
static NSString * const testuser9UserId = @"USR-0bff641c-9751-473b-84fc-350e8cf2d249";
static NSString * const testuser10UserId = @"USR-0e804fd3-f33d-4131-80fa-9d12a6272475";
static NSString * const testuser11UserId = @"USR-96829113-9a0c-4fb0-9fbf-664edfb10524";
static NSString * const testuser12UserId = @"USR-0b014344-7893-4b0e-be5e-1098a6e5b743";
static NSString * const testuser13UserId = @"USR-2f0f4af0-5152-429d-9655-094311d117f7";

static NSString * const baby1UserId = @"USR-2cf49ab9-e936-4442-ba8a-9179e60d016c";
static NSString * const baby2UserId = @"USR-d02c652d-cf54-4fd1-958b-6cf140c9b3c0";
static NSString * const baby3UserId = @"USR-2066a509-917f-4a2a-a71c-4fd342eede7b";
static NSString * const baby4UserId = @"USR-ce1c1ea9-cad9-4528-a38b-f3bc0f487c4c";
static NSString * const baby5UserId = @"USR-49f028b3-7c4a-4ba2-8b8a-c7f6cf5ff017";
static NSString * const baby6UserId = @"USR-c7502d4b-83bb-4963-a357-0771cd5e0903";
static NSString * const baby7UserId = @"USR-f21241b9-c6c8-43cf-92cb-4ffefddca14e";
static NSString * const baby8UserId = @"USR-2a65850d-667f-48d5-bd8b-829f350c6889";
static NSString * const baby9UserId = @"USR-1f59841c-9791-4d4a-8b4e-ec9d9f1aea32";

static NSString * const demo1UserId = @"USR-e95623e1-3e04-4a70-ac46-8a4812e31e49";
static NSString * const demo2UserId = @"USR-90e4c5d9-5928-41ad-b3d3-07f70e79e64d";
static NSString * const demo3UserId = @"USR-7830e5f2-d10a-4e59-b039-8c87ffe58026";
static NSString * const demo4UserId = @"USR-ad3f08aa-39d2-49f7-8037-57de64639d5d";
static NSString * const demo5UserId = @"USR-9256fae4-7916-4c7e-8d1a-e3678ad0aa5b";
static NSString * const demo6UserId = @"USR-717feb75-9068-44f9-a413-d645a4e81902";
static NSString * const demo7UserId = @"USR-61724795-ea1b-4495-9843-8e72fc6998b5";
static NSString * const demo8UserId = @"USR-e5d6b341-ad11-43e7-88d4-fa96bd347bab";
static NSString * const demo9UserId = @"USR-5ab89e08-8c2a-49be-8641-7fa4d6ac04e8";

testuser1Token =

testuser2Token =

testuser3Token =

testuser4Token =

testuser5Token =

testuser6Token =

testuser7Token =

testuser8Token =

testuser9Token =

testuser10Token =

testuser11Token =

testuser12Token =

testuser13Token =

baby1Token =

baby2Token =

baby3Token =

baby4Token =

baby5Token =

baby6Token =

baby7Token =

baby8Token =

baby9Token =

demo1Token =

demo2Token =

demo3Token =

demo4Token =

demo5Token =

demo6Token =

demo7Token =

demo8Token =

demo9Token =


#endif /* Tokens_h */

