<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sentences</key>
	<array>
		<string>The quick brown fox jumps over the lazy dog.</string>
		<string>My Mum tries to be cool by saying that she likes all the same things that I do.</string>
		<string>If the Easter Bunny and the Tooth Fairy had babies would they take your teeth and leave chocolate for you?</string>
		<string>A purple pig and a green donkey flew a kite in the middle of the night and ended up sunburnt.</string>
		<string>What was the person thinking when they discovered cow’s milk was fine for human consumption… and why did they do it in the first place!?</string>
		<string>Last Friday in three week’s time I saw a spotted striped blue worm shake hands with a legless lizard.</string>
		<string>Wednesday is hump day, but has anyone asked the camel if he’s happy about it?</string>
		<string>If Purple People Eaters are real… where do they find purple people to eat?</string>
		<string>A song can make or ruin a person’s day if they let it get to them.</string>
		<string>Sometimes it is better to just walk away from things and go back to them later when you’re in a better frame of mind.</string>
		<string>Writing a list of random sentences is harder than I initially thought it would be.</string>
		<string>Where do random thoughts come from?</string>
		<string>Lets all be unique together until we realise we are all the same.</string>
		<string>I will never be this young again. Ever. Oh damn… I just got older.</string>
		<string>If I don’t like something, I’ll stay away from it.</string>
		<string>I love eating toasted cheese and tuna sandwiches.</string>
		<string>If you like tuna and tomato sauce- try combining the two. It’s really not as bad as it sounds.</string>
		<string>Hurry!</string>
		<string>Is it free?</string>
		<string>I am never at home on Sundays.</string>
		<string>Don&apos;t step on the broken glass.</string>
		<string>She advised him to come back at once.</string>
		<string>Let me help you with your baggage.</string>
		<string>The book is in front of the table.</string>
		<string>How was the math test?</string>
		<string>The mysterious diary records the voice.</string>
		<string>The stranger officiates the meal.</string>
		<string>The shooter says goodbye to his love.</string>
		<string>A glittering gem is not enough.</string>
		<string>The memory we used to share is no longer coherent.</string>
		<string>The old apple revels in its authority.</string>
		<string>Rock music approaches at high velocity.</string>
		<string>Sixty-Four comes asking for bread.</string>
		<string>Abstraction is often one floor above you.</string>
		<string>The river stole the gods.</string>
		<string>The body may perhaps compensates for the loss of a true metaphysics.</string>
		<string>Joe made the sugar cookies; Susan decorated them.</string>
		<string>The sky is clear; the stars are twinkling.</string>
		<string>The waves were crashing on the shore; it was a lovely sight.</string>
		<string>There were white out conditions in the town; subsequently, the roads were impassable.</string>
		<string>Check back tomorrow; I will see if the book has arrived.</string>
		<string>He said he was not there yesterday; however, many people saw him there.</string>
		<string>I am happy to take your donation; any amount will be greatly appreciated.</string>
		<string>She only paints with bold colors; she does not like pastels.</string>
		<string>She works two jobs to make ends meet; at least, that was her reason for not having time to join us.</string>
		<string>Malls are great places to shop; I can find everything I need under one roof.</string>
		<string>Italy is my favorite country; in fact, I plan to spend two weeks there next year.</string>
		<string>He turned in the research paper on Friday; otherwise, he would have not passed the class.</string>
		<string>She did not cheat on the test, for it was not the right thing to do.</string>
		<string>I think I will buy the red car, or I will lease the blue one.</string>
		<string>I really want to go to work, but I am too sick to drive.</string>
		<string>I am counting my calories, yet I really want dessert.</string>
		<string>He ran out of money, so he had to stop playing poker.</string>
		<string>They got there early, and they got really good seats.</string>
		<string>There was no ice cream in the freezer, nor did they have money to go to the store.</string>
		<string>Everyone was busy, so I went to the movie alone.</string>
		<string>I would have gotten the promotion, but my attendance wasn’t good enough.</string>
		<string>Should we start class now, or should we wait for everyone to get here?</string>
		<string>It was getting dark, and we weren’t there yet.</string>
		<string>Cats are good pets, for they are clean and are not noisy.</string>
		<string>We have never been to Asia, nor have we visited Africa.</string>
		<string>He didn’t want to go to the dentist, yet he went anyway.</string>
		<string>Sometimes, all you need to do is completely make an ass of yourself and laugh it off to realise that life isn’t so bad after all.</string>
		<string>When I was little I had a car door slammed shut on my hand. I still remember it quite vividly.</string>
		<string>The clock within this blog and the clock on my laptop are 1 hour different from each other.</string>
		<string>I want to buy a onesie… but know it won’t suit me.</string>
		<string>I was very proud of my nickname throughout high school but today- I couldn’t be any different to what my nickname was.</string>
		<string>I currently have 4 windows open up… and I don’t know why.</string>
		<string>I often see the time 11:11 or 12:34 on clocks.</string>
		<string>This is the last random sentence I will be writing and I am going to stop mid-sent</string>
		<string>We need to rent a room for our party.</string>
		<string>Yeah, I think it&apos;s a good environment for learning English.</string>
		<string>The lake is a long way from here.</string>
		<string>This is a Japanese doll.</string>
		<string>I hear that Nancy is very pretty.</string>
		<string>She was too short to see over the fence.</string>
		<string>He told us a very exciting adventure story.</string>
		<string>Christmas is coming.</string>
		<string>Wow, does that work?</string>
		<string>She always speaks to him in a loud voice.</string>
		<string>I want more detailed information.</string>
		<string>I checked to make sure that he was still alive.</string>
		<string>I&apos;d rather be a bird than a fish.</string>
		<string>Mary plays the piano.</string>
		<string>She did her best to help him.</string>
		<string>She borrowed the book from him many years ago and hasn&apos;t yet returned it.</string>
		<string>She wrote him a long letter, but he didn&apos;t read it.</string>
		<string>Please wait outside of the house.</string>
		<string>Two seats were vacant.</string>
		<string>Tom got a small piece of pie.</string>
		<string>She folded her handkerchief neatly.</string>
		<string>We have a lot of rain in June.</string>
		<string>Someone I know recently combined Maple Syrup and buttered Popcorn thinking it would taste like caramel popcorn. It didn’t and they don’t recommend anyone else do it either.</string>
	</array>
</dict>
</plist>
